node_modules
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
__pycache__
venv
.git
.idea
.env
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
*.yaml