@import './base.scss';
/*!
 |-----------------------------------------------------------------------------------------
 |
 |
 | Bootstrap Grid - Start
 |
 |
 |-----------------------------------------------------------------------------------------
*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 376px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1320px;
  }
}
/*!
 |-----------------------------------------------------------------------------------------
 |
 |
 | Bootstrap Grid - End
 |
 |
 |-----------------------------------------------------------------------------------------
*/
/*!
 |-----------------------------------------------------------------------------------------
 |
 |
 | Form - Start
 |
 |
 |-----------------------------------------------------------------------------------------
*/
.form {
  & > * {
    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }

  &__fieldset > legend {
    font-weight: var(--font-weight-bold);
  }

  &__group {
    &--radio,
    &--checkbox {
      display: flex;
      align-items: center;

      & > * {
        &:not(:last-child) {
          margin: 0 10px 0 0;
        }
      }
    }

    &--file input {
      display: none;
    }
  }

  &__button {
    &--file button {
      & > * {
        &:not(:last-child) {
          margin: 0 10px 0 0;
        }
      }
    }

    &--file svg {
      width: 15px;
    }

    &--file span {
      white-space: no-wrap;
    }
  }

  &__annotation {
    margin: 10px 0 0 0;
    display: block;
  }

  &__group label {
    margin: 0 0 10px 0;
    display: block;
    font-weight: var(--font-weight-bold);
  }

  &__group {
    &--radio label,
    &--checkbox label {
      margin: 0;
    }
  }
}
/*!
 |-----------------------------------------------------------------------------------------
 |
 |
 | Form - End
 |
 |
 |-----------------------------------------------------------------------------------------
*/
/*!
 |-----------------------------------------------------------------------------------------
 |
 |
 | Content Style - Heading - Start
 |
 |
 |-----------------------------------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--heading-color);
  line-height: var(--heading-line-height);
  font-weight: var(--heading-font-weight);
  font-family: var(--heading-font-family);
  text-transform: var(--heading-text-transform);
  // Tagline
  //
  .tagline {
    display: block;
    margin-bottom: 15px;
    font-size: 0.6em;
    color: var(--heading-color);
    font-weight: var(--font-weight-normal);
  }
}

//--------------------------------
// H1
//--------------------------------
//
h1 {
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  font-family: var(--h1-font-family);


  @media screen and (max-width: 991px) {
    font-size: var(--h1-font-size-mobile);
  }
}

//--------------------------------
// H2
//--------------------------------
//
h2 {
  color: var(--h2-color);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  font-family: var(--h2-font-family);


 @media screen and (max-width: 991px) {
    font-size: var(--h2-font-size-mobile);
  }
}

//--------------------------------
// H3
//--------------------------------
//
h3 {
  color: var(--h3-color);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  font-family: var(--h3-font-family);


 @media screen and (max-width: 991px) {
    font-size: var(--h3-font-size-mobile);
  }
}

//--------------------------------
// H4
//--------------------------------
//
h4 {
  color: var(--h4-color);
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  font-family: var(--h4-font-family);


 @media screen and (max-width: 991px) {
    font-size: var(--h4-font-size-mobile);
  }
}

//--------------------------------
// H5
//--------------------------------
//
h5 {
  color: var(--h5-color);
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
  font-family: var(--h5-font-family);


 @media screen and (max-width: 991px) {
    font-size: var(--h5-font-size-mobile);
  }
}

//--------------------------------
// H6
//--------------------------------
//
h6 {
  color: var(--h6-color);
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-weight);
  font-family: var(--h6-font-family);


 @media screen and (max-width: 991px) {
    font-size: var(--h6-font-size-mobile);
  }
}


/*!
 |-----------------------------------------------------------------------------------------
 |
 |
 | Content Style - Heading - End
 |
 |
 |-----------------------------------------------------------------------------------------
*/