apiVersion: v1
kind: ConfigMap
metadata:
  name: server-jpg-env
  namespace: image-converter-main
data:
  DOCKER_IMAGE_NAME: "$DOCKER_IMAGE_NAME"
  SERVER_JPG_PORT: "$SERVER_JPG_PORT"
  AWS_ACCESS_KEY_ID: "$AWS_ACCESS_KEY_ID"
  AWS_OBJECT_EXPIRES_IN: "$AWS_OBJECT_EXPIRES_IN"
  AWS_S3_BUCKET: "$AWS_S3_BUCKET"
  AWS_DEFAULT_REGION: "$AWS_DEFAULT_REGION"
  AWS_SECRET_ACCESS_KEY: "$AWS_SECRET_ACCESS_KEY"