apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-deployment
  namespace: image-converter-main
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-main-pod 
  template:
    metadata:
      labels:
        app: gateway-main-pod
    spec:
      containers:
        - image: $DOCKER_ID/$DOCKER_IMAGE_NAME-gateway:$IMAGE_BUILD_NUMBER
          name: gateway-main-pod
          ports:
            - containerPort: $SERVER_GATEWAY_PORT
          args:
            - python
            - app.py
          env:
            - name: SERVER_GATEWAY_PORT
              valueFrom:
                configMapKeyRef:
                  key: SERVER_GATEWAY_PORT
                  name: gateway-env
            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  key: REDIS_HOST
                  name: gateway-env
            - name: REDIS_PASSWORD
              valueFrom:
                configMapKeyRef:
                  key: REDIS_PASSWORD
                  name: gateway-env
            - name: API_MAX_REQUESTS_PER_DAY
              valueFrom:
                configMapKeyRef:
                  key: API_MAX_REQUESTS_PER_DAY
                  name: gateway-env
            - name: DOCKER_IMAGE_NAME
              valueFrom:
                configMapKeyRef:
                  key: DOCKER_IMAGE_NAME
                  name: gateway-env
            - name: SERVER_PROTOCOL
              valueFrom:
                configMapKeyRef:
                  key: SERVER_PROTOCOL
                  name: gateway-env
          livenessProbe:
            httpGet:
              path: /health
              port: $SERVER_GATEWAY_PORT
            initialDelaySeconds: 15
            timeoutSeconds: 1
            periodSeconds: 10
          resources:
            requests:
              cpu: 200m
            limits:
              cpu: 500m

