apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: server
  namespace: imgconverter
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name:  app-cache
  maxReplicas: 1
  minReplicas: 1
  metrics:
  - type: Resource
    resource:
      name: cpu
      targetAverageUtilization: 50
