apiVersion: v1
kind: Service
metadata:
  name: server
  labels:
    app: server
  namespace: imgconverter
spec:
  type: NodePort
  ports:
    - name: "server"
      port: $SERVER_POD_PORT
      nodePort: $SERVER_SERVICE_NODE_PORT
  selector:
    run: server-main-pod
