apiVersion: v1
kind: Service
metadata:
  name: server-webp-service
  labels:
    app: server-webp
spec:
  type: ClusterIP
  selector:
    app: server-webp-main-pod
  ports:
    - protocol: "TCP"
      port: $SERVER_WEBP_PORT
      targetPort: $SERVER_WEBP_PORT