apiVersion: v1
kind: Service
metadata:
  name: server
  labels:
    app.service: server
spec:
  ports:
    - name: "Port to Server"
      port: $SERVER_POD_PORT
      targetPort: $SERVER_POD_PORT
  selector:
    app.service: server
