apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  labels:
    app: gateway
spec:
  type: NodePort
  selector:
    app: gateway-main-pod
  ports:
    - protocol: "TCP"
      port: $SERVER_GATEWAY_PORT
      targetPort: $SERVER_GATEWAY_PORT
      nodePort: 30001