apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  labels:
    app: gateway
spec:
  type: LoadBalancer
  selector:
    app: gateway-main-pod
  ports:
    - protocol: "TCP"
      port: $GATEWAY_PORT
      targetPort: $GATEWAY_PORT
