apiVersion: v1
kind: Service
metadata:
  name: server
  labels:
    app: server
spec:
  ports:
    - name: "server"
      port: $SERVER_POD_PORT
      targetPort: $SERVER_POD_PORT
  selector:
    app: server
