apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-env
  namespace: image-converter-main
data:
  REDIS_HOST: "$REDIS_HOST"
  REDIS_PASSWORD: "$REDIS_PASSWORD"
  API_MAX_REQUESTS_PER_DAY: "$API_MAX_REQUESTS_PER_DAY"
  API_SECONDS_IN_DAY: "$API_SECONDS_IN_DAY"
  DOCKER_IMAGE_NAME: "$DOCKER_IMAGE_NAME"
  SERVER_PROTOCOL: "$SERVER_PROTOCOL"
  SERVER_GATEWAY_PORT: "$SERVER_GATEWAY_PORT"
  SERVER_JPG_PORT: "$SERVER_JPG_PORT"
  SERVER_PNG_PORT: "$SERVER_PNG_PORT"
  SERVER_WEBP_PORT: "$SERVER_WEBP_PORT"
  URL_FRONTEND: "$URL_FRONTEND"