apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gateway-ingress
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /convert(/|$)(.*)
        pathType: Prefix
        backend:
          service:
            name: gateway-service
            port:
              number: $SERVER_GATEWAY_PORT
      - path: /health(/|$)
        pathType: Prefix
        backend:
          service:
            name: gateway-service
            port:
              number: $SERVER_GATEWAY_PORT